*{
    margin: 0;
    padding: 0;
}
.heart {
  width: 30px;  /* 正方形を作る */
  height: 30px; /* 正方形を作る */
  position: relative;/* 基準位置とする */
}
.heart::before,
.heart::after {
  content: "";  /* 疑似要素に必須 */
  width: 50%;   /* ハートの丸い部分の大きさにかかわる */
  height: 80%;  /* ハートの高さにかかわる */
  background: #E0548E; /* ハートの色 */
  border-radius: 25px 25px 0 0; /* ハートの半円を生成 */
  display: block; /* ブロック要素にする */
  position: absolute; /* 相対位置に指定 */
}
.heart::before {
  transform: rotate(-45deg); /* 左に回転 */
  left: 14%;                 /* 左からの位置を指定 */
}
.heart::after {
  transform: rotate(45deg);  /* 右に回転 */
  right: 14%;                /* 右からの位置を指定 */
}
.flex{
  display: flex;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #87CEFA;
    padding: 14px 40px;
}

.logo{
    height: 36px;
}

.nav{
    display: flex;
}

.nav > li > a {
    color: #333;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}

footer{
    background-color: #87CEFA;
    color: #333;
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
    padding: 20px 0;
}

.nav-color{
  background-color:rgb(62,45,34);
}

.btn-primary{
  color: #434040;
  background-color:rgb(246, 244, 240);
  border-color:rgb(62,45,34);
  margin: 5px;
}

.btn-danger{
  color: #434040;
  background-color:rgb(246, 244, 240);
  border-color:rgb(62,45,34);
  margin: 5px;
}

.twoBtn{
  display: flex;
  justify-content: center;
  margin: 1%;
}

.show-title{
  text-align: center;
  padding-top: 2%;
}

/* .row5{
  border: #333 solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */

.cards-container{
  border: #c0c0c0 solid;
  margin: 10px 10px 5px 10px;
  width: 30%;
  height: 20%;
}

.container{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-content: space-around;
}

.card-title{
  font-size: 12px;
}

.card-date{
  font-size: 12px;
}